<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603029562389-kskvcs4cmuqc5tnt9ere6irsr2f8c4qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603029562389-kskvcs4cmuqc5tnt9ere6irsr2f8c4qh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603029562389-8dbf1u09rqe1brusfu6qd1dtp5j4gfgm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNYmTPMDp04WOxUcmXEYB2RBx_DyuJCsE</string>
	<key>GCM_SENDER_ID</key>
	<string>603029562389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outofthebox.alenaAdmin</string>
	<key>PROJECT_ID</key>
	<string>alena-ed5f1</string>
	<key>STORAGE_BUCKET</key>
	<string>alena-ed5f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603029562389:ios:22c5ccc15dc333edc51a1c</string>
</dict>
</plist>